{% extends "navbar/navUser.html" %} {% block contentt %}
<div class="container_tabla">
  <div class="header_tabla">
    <button class="exit_tabla">
      <i class="bx bx-log-out"></i><label class="salir">Salir</label>
    </button>
    <a
      href="{{ url_for('reporte_pdf') }}"
      class="btn btn-primary"
      target="_blank"
      id="downloadPDF1"
      >Generar PDF <i class="bx bxs-download fs-3"></i
    ></a>
  </div>
  <h1 class="fs-3 mt-3">Reporte de Beneficios</h1>
  <section class="datos table-responsive" id="tabla1">
    <table class="table table-striped table-bordered">
      <thead class="table-dark">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Total Activos</th>
          <th scope="col">Total Pasivos</th>
          <th scope="col">Total Comisión Vencida</th>
          <th scope="col">Total Comisión Vigente</th>
          <th scope="col">Total Entregas</th>
        </tr>
      </thead>

      <tbody>
        {% for reporte in reportes %}
        <tr>
          <td>{{ reporte.fecha_formateada }}</td>
          <td>{{ reporte.total_activos }}</td>
          <td>{{ reporte.total_pasivos }}</td>
          <td>{{ reporte.total_comision_vencida }}</td>
          <td>{{ reporte.total_comision_vigente }}</td>
          <td>{{ reporte.total_entregas }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td><strong>Total General</strong></td>
          <td><strong>{{ total_activos }}</strong></td>
          <td><strong>{{ total_pasivos }}</strong></td>
          <td><strong>{{ total_comision_vencida }}</strong></td>
          <td><strong>{{ total_comision_vigente }}</strong></td>
          <td><strong>{{ total_entregas }}</strong></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
